<form method="post">

  <div class="row">

    <div class="large-12 columns">
      <label class="run-name">
        Run Name
        <input type="text" id="run-name" name="name" value="{{name}}" readonly>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-4 columns">
      <h2> Run Location </h2>

      <div class="row">

        <label class="large-6 columns">
          Country
          <select id="run-country" name="country" class="radius">
            <option value="US">United States</option>
          </select>
        </label>
        <label class="large-6 columns">
          State
          <select id="run-state" name="state" class="radius">
            <option value="ID">Idaho</option>
          </select>
        </labe>
      </div>
      <!--
      <div class="row">
        <label class="large-6 columns">
           Latitude
          <input type="text" id="run-latitude" name="latitude" value="" placeholder="Decimal Format">
        </label>
        <label class="large-6 columns">
           Longitue
          <input type="text" id="run-longitude" name="longitude" value="" placeholder="Decimal Format">
        </label>
      </div>
    -->

      <label>
        Drainage / Main River
        <input type="text" list="drainages" id="run-drainage" name="drainage" value="" placeholder="ex: Salmon, Payette">
        <datalist id="drainages">
          <option value="Salmon">Idaho: Salmon</option>
          <option value="Snake">Idaho: Snake</option>
          <option value="Clearwater">Idaho: Clearwater</option>
          <option value="St. Joe">Idaho: St. Joe</option>
          <option value="Bruneau">Idaho: Bruneau</option>
          <option value="Owyhee">Idaho: Owyhee</option>
          <option value="Owyhee">Oregon: Owyhee</option>
        </datalist>
      </label>


      <label>
        Put In
        <input type="text" id="run-putin" name="putin" value="">
      </label>

      <label class="hide">
        Put In Directions
        <input type="" id="run-putin-directions" name="putin-directions" value="">
      </label>

      <label>
        Take Out
        <input type="text" id="run-takeout" name="takeout" value="">
      </label>

      <label class="hide">
        Take Out Directions
        <input type="" id="run-takeout-directions" name="takeout-directions" value="">
      </label>

    </div>
    <div class="large-4 columns">
      <h2> Run Statistics </h2>

      <div class="row">
        <div class="large-4 columns">
          <label>
            Miles
            <input type="number" id="run-miles" name="miles" value="{{stats.miles}}" size="4" required>
          </label>
        </div>
        <div class="large-4 columns">
          <label>
            Vertical Drop
            <input type="number" id="run-vertical" name="vertical" value="{{stats.vertical}}" size="5" required>
          </label>
        </div>
        <div class="large-4 columns">
          <label>
            Difficulty
            <input type="text" id="run-difficulty" name="difficulty" value="{{stats.difficulty}}" size="4" required>
          </label>
        </div>
      </div>

      <fieldset>
        <legend>Flow Thresholds</legend>

        <div class="flow-threshold-low row">
          <h5>Low Range</h5>
          <div class="large-5 columns">
            <label class="">
              <input type="text" id="run-low-min" name="low-min" value="" placeholder="Min">
            </label>
          </div>
          <div class="large-2 columns text-center">
            -
          </div>
          <div class="large-5 columns">
            <label class="">
              <input type="text" id="run-low-max" name="low-max" value="" placeholder="Max">
            </label>
          </div>
        </div>

        <div class="flow-threshold-medium row">
          <h5>Medium Range</h5>
          <div class="large-5 columns">
            <label class="">
              <input type="text" id="run-med-min" name="med-min" value="" placeholder="Min">
            </label>
          </div>
          <div class="large-2 columns text-center">
            -
          </div>
          <div class="large-5 columns">
            <label class="">
              <input type="text" id="run-med-max" name="med-max" value="" placeholder="Max">
            </label>
          </div>
        </div>

        <div class="flow-threshold-hign row">
          <h5>High Range</h5>
          <div class="large-5 columns">
            <label class="">
              <input type="text" id="run-high-min" name="high-min" value="" placeholder="Min">
            </label>
          </div>
          <div class="large-2 columns text-center">
            -
          </div>
          <div class="large-5 columns">
            <label class="">
              <input type="text" id="run-high-max" name="high-max" value="" placeholder="Max">
            </label>
          </div>
        </div>

      </fieldset>

    </div>
    <div class="large-4 columns">
      <h2> Run Information </h2>
      <label class="run-aliases">
        Aliases
        <input type="text" id="run-aliases" name="aliases" value="" required>

      </label>

      <label>
        USGS ID
        <input type="text" id="run-usgsID" name="usgsID" value="" required>
      </label>

      <label>
        Description
        <textarea rows="10" id="run-description" name="description"></textarea>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns actions text-right">
      <button type="button" class="button btn-secondary btn-cancel">Cancel</button>
      <button type="submit" class="button btn-primary btn-submit">Submit</button>
    </div>
  </div>
  </div>

</form>
