<form method="post">

  <div class="row">

    <div class="large-12 columns">
      <label class="run-name">
        Run Name
        <input type="text" id="run-name" name="run-name" value="" required>
      </label>
    </div>
  </div>

  <div class="row">
    <fieldset>
      <legend>Run Statistics</legend>

      <div class="large-4 columns">
        <label>
          Miles
          <input type="number" id="run-" name="run-" value="" size="4" required>
        </label>
      </div>
      <div class="large-4 columns">
        <label>
          Vertical Drop
          <input type="number" id="run-" name="run-" value="" size="5" required>
        </label>
      </div>
      <div class="large-4 columns">
        <label>
          Difficulty
          <input type="text" id="run-" name="run-" value="" size="4" required>
        </label>
      </div>
    </fieldset>
  </div>

  <div class="row">
    <div class="large-12 columns actions text-right">
      <button type="button" class="button btn-secondary">Cancel</button>
      <button type="submit" class="button btn-primary">Submit</button>
    </div>
  </div>
  </div>

</form>
