<nav class="river-card-nav">
  <ul>
    <li><button data-view="log" class="view-button btn-icon icon-quill current">Log</button></li>
    <li><button data-view="flows" class="view-button btn-icon icon-stats">Flows</button></li>
    <li><button data-view="notes" class="view-button btn-icon icon-file">Notes <span class="count">(3)</span></button></li>
    <!--<li><button class="btn-icon icon-image">Photos <span class="count">(6)</span></button></li>
    <li><button class="btn-icon icon-play">Videos <span class="count">(1)</button></li>
    <li><button class="btn-icon icon-feed ">Activity</button></li>-->
  </ul>
</nav>
