<ul class="river-stats">
  <li class="stat stat-length"><strong class="stat-value">{{river.stats.miles}}</strong>mi</li>
  <li class="stat stat-vertial"><strong class="stat-value">{{river.stats.vertical}}</strong>ft</il>
  <li class="stat stat-difficulty"><strong class="stat-value">{{river.stats.difficultyclass}}</strong></il>
</ul>
