<nav class="river-card-nav">
  <ul>
    {{#each actions}}
    <li><button data-view="{{name}}" class="view-button btn-icon icon-{{icon}} {{#if current}}current{{/if}}">{{label}}</button></li>
    {{/each}}
  </ul>
</nav>
