<form method="post">

  <label class="run-name">
    <span>Run Name</span>
    <input type="text" id="run-name" name="run-name" value="" required>
  </label>

  <label class="run-aliases">
    <span>Aliases</span>
    <input list="drainages" id="run-aliases" name="run-aliases" value="" required>
    <datalist id="drainages">
      <option value="Salmon">Idaho: Salmon</option>
      <option value="Snake">Idaho: Snake</option>
      <option value="Clearwater">Idaho: Clearwater</option>
      <option value="St. Joe">Idaho: St. Joe</option>
      <option value="Bruneau">Idaho: Bruneau</option>
      <option value="Owyhee">Idaho: Owyhee</option>
      <option value="Owyhee">Oregon: Owyhee</option>
  </label>

  <label class="run-location">
    <span>State / Country</span>
    <select id="run-country" name="run-country">
      <option value="US">United States</option>
    </select>
    <select id="run-state" name="run-state">
      <option value="ID">Idaho</option>
    </select>
  </label>

  <label class="run-drainage">
    <span>Drainage / Main River</span>
    <input type="" id="run-drainage" name="run-drainage" value="" required>
  </label>

  <label class="">
    <span>Put In</span>
    <input type="" id="run-" name="run-" value="" required>
    <a href="#">Set Location</a>
    <a href="#">Provide Directions / Notes</a>
  </label>

  <label class="">
    <span>Put In Directions</span>
    <input type="" id="run-" name="run-" value="" required>
  </label>

  <label class="">
    <span>Take Out</span>
    <input type="" id="run-" name="run-" value="" required>
    <a href="#">Set Location</a>
    <a href="#">Provide Directions / Notes</a>
  </label>

  <label class="">
    <span>Take Out Directions</span>
    <input type="" id="run-" name="run-" value="" required>
  </label>

  <fieldset>
    <legend>River Stats</legend>

    <label class="">
      <span>Miles</span>
      <input type="" id="run-" name="run-" value="" required>
    </label>

    <label class="">
      <span>Vertical Drop</span>
      <input type="" id="run-" name="run-" value="" required>
    </label>

    <label class="">
      <span>Difficulty</span>
      <input type="" id="run-" name="run-" value="" required>
    </label>

  </fieldset>

  <label class="">
    <span>Location (lat/lng)</span>
    <input type="" id="run-" name="run-" value="" required>
    <input type="" id="run-" name="run-" value="" required>
  </label>

  <label class="">
    <span>USGS ID</span>
    <input type="" id="run-" name="run-" value="" required>
  </label>

  <fieldset>
    <legend>Flow Thresholds</legend>

    <div class="flow-threshold-low">
      <label class="">
        <span></span>
        <input type="" id="run-" name="run-" value="" required>
      </label>
      -
      <label class="">
        <span></span>
        <input type="" id="run-" name="run-" value="" required>
      </label>
    </div>

    <div class="flow-threshold-medium">
      <label class="">
        <span></span>
        <input type="" id="run-" name="run-" value="" required>
      </label>
      -
      <label class="">
        <span></span>
        <input type="" id="run-" name="run-" value="" required>
      </label>
    </div>

    <div class="flow-threshold-hign">
      <label class="">
        <span></span>
        <input type="" id="run-" name="run-" value="" required>
      </label>
      -
      <label class="">
        <span></span>
        <input type="" id="run-" name="run-" value="" required>
      </label>
    </div>

  </fieldset>


  <label class="">
    <span></span>
    <input type="" id="run-" name="run-" value="" required>
  </label>

  <div class="actions">
    <button type="button" class="btn-secondary">Cancel</button>
    <button type="submit" class="btn-primary">Submit</button>
  </div>

</form>
