<ul class="user-stats">
  <li class="stat">
    <label class="stat-label">2014</label>
    <strong class="stat-value">{{userData.currentYearTotal}}</strong>
  </li>
  <li class="stat">
    <label class="stat-label">Life</label>
    <strong class="stat-value">{{userData.allTimeTotal}}</strong>
  </il>
</ul>
