<ul class="user-stats">
  <li class="stat">
    <span class="stat-label">2014</span>
    <strong class="stat-value">{{userData.currentYearTotal}}</strong>
  </li>
  <li class="stat">
    <span class="stat-label">Life</span>
    <strong class="stat-value">{{userData.allTimeTotal}}</strong>
  </il>
</ul>
