#log-entry {
  background: #444;
  box-shadow: inset 0px 0px 32px 0px rgba(0,0,0, 0.5);
  padding: 50px 0;
  color: #FFF;

  legend {
    background: #444;
  }

  label, h2, h5 {
    color: #FFF;
  }

}
