/*#page-header {
  background: $darkBlue;
  border-bottom: 1px solid $lightBlue;
  min-height: 40px;
  a {
    color: $cream;
    display: inline-block;
    padding: 0 10px;
    line-height: 40px;
    font-size: 13px;
    font-weight: bold;
    &:hover {
      text-decoration: none;
      color: $red;
    }
  }
  nav:after {
    content: '';
    display: block;
    clear: both;
  }
}
*/

.title-area .name h1 > a {
  text-transform: lowercase;
  text-style: italic; 
  em {
    text-transform: uppercase;
    color: $red;
  }
}
