@inlcude mixins;

.river-card {
  border: 1px solid #666;
  width: 21%;
  margin: 1%;
  @include rounded(5px);
  min-height: 300px;
  position: relative;
}

.river-card-header {
  overflow: auto;
  border-bottom: 1px solid #999;
  padding: 0 5% 2% 5%;

}
.river-card-current-flow {
  clear: both;
  border-top: 1px solid #eee;
  padding: 5%;
  font-size: 11px;
  strong {
    font-size: 12px;
  }

  &.medium{
    &:before, strong {
      color: green;
    }
  }
}

.river-card-title {
  margin: 0;
  padding: 5% 0 1% 0;
  font-size: 16px;
  a {
    visibility: hidden;

  }
  .river-card:hover & a {
    visibility: visible;
  }
  .btn-view-more {
    position: absolute;
    top: 1%;
    right: 3%;
    font-size: 24px;
  }
}

.user-stats, .river-stats {
  margin: 0;
  padding: 0;
}

.user-stats {
  float: left;
  width: 60%;

}

.river-stats {
  float: right;
  width: 40%;
  text-align: right;
  .stat:after { content: ', ' }
  .stat:last-child:after { content: '' }
}

.river-card-current-flow {
  display: none;
}
.river-card-content-container {
  height: 280px;
  overflow: auto;
}

.river-card-content {
  display: none;
}

$views: log, info, flows, notes;
.river-card {
  @each $view in $views {
    &[data-view="#{$view}"] {
      .river-card-content[data-view="#{$view}"] {
        display: block;
      }
    }
  }

  &[data-view="log"],
  &[data-view="activity"] ,
  &[data-view="flows"] {
    .river-card-content-container {
      height: 240px;
    }
    .river-card-current-flow {
      height: 40px;
      display: block;
    }
  }
}

.river-card-footer {
  border-top: 1px solid #999;
  overflow: auto;
}

.river-card-nav {
  ul {
    margin: 0;
    padding: 0;
  }
  li {
    list-style: none;
    float: left;
    margin: 2% 0;
    padding: 0;
    width: 33.3%;
  }
}

.river-card-content {
  padding: 0 5%;
}
