body {
  background: #FFF;
  color: $darkGrey;
}
h1 {
  color: $red;
}
a {
  color: $red;
  text-decoration: none;
  transition: color 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in 0;
}
a:hover {
  text-decoration: underline;
}

button {
  position: relative;
  display: inline-block;
  padding: 7px 12px;
  font-size: 13px;
  font-weight: bold;
  color: $darkGrey;
  white-space: nowrap;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
  transition: color 0.1s ease-in;
  -webkit-transition: color 0.1s ease-in 0;
  &:before {
    padding-right: 5px;
  }
}
button:hover {
  color: $red;
}
