/*form {
  label {
    color: #FFF;
  }

  .actions {
    clear: both;
    text-align: right;
  }

  button {
    color: #FFF;
    &.btn-secondary {
      color: #999;
    }
  }
}
*/
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="color"],
textarea {
  @include radius($input-border-radius);
}
