@inlcude mixins;
.container {
  width: 100%;
  margin: 0 auto;
}

#page-header {
  min-height: 40px;
}

#main {
  background: #FFF;
  padding: 20px 0;
  position: relative;
  width: 100%;
  max-width: 1440px;
}

#page-footer {
  min-height: 100px;
}

*, *:after, *:before {
  @include box-sizing;
}
