@inlcude mixins;
.container {
  width: 100%;
  margin: 0 auto;
}

#page-header {
  min-height: 40px;
}

#main {
  background: #FFF;
  position: relative;
  width: 100%;
  max-width: 1440px;
}

#river-deck {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#page-footer {
  min-height: 100px;
}

*, *:after, *:before {
  @include box-sizing;
}

.hide {
  display: none;
}
